<section id="dashboard">
	<div class="container profile">
		<div class="row">
			<div class="col-md-3">
				<img src="assets/img/profile.jpg">
			</div>	
			<div class="col-md-9">
				<div class="profile-data">
					<h4>ABHISHEK UPPERWAL <small>(M.Tech)</small></h4>
					<a href="http://cds.iisc.ac.in/" target="_blank">Department of Computational and Data Sciences</a> <br>
					<a href="http://www.iisc.ac.in/" target="_blank">Indian Institute of Science</a> (IISc), Bangalore <br><br>
					uabhishek&lt;at&gt;iisc.ac.in
				</div>
			</div>
		</div>

		<div class="social">
			<ul>
				<li><a href="https://in.linkedin.com/in/upperwal" target="_blank">LinkedIn</a></li>
				<li><a href="https://www.facebook.com/upperwal" target="_blank">Facebook</a></li>
				<li><a href="https://twitter.com/upperwal" target="_blank">Twitter</a></li>
			</ul>
		</div>
		<br><br>
		
		<h3>Research Interests</h3>
		<div class="row">
			<div class="col-md-3">
				<ul>
					<li>Computer Vision</li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul>
					<li>Machine Learning</li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul>
					<li>Deep Learning</li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul>
					<li>Blockchain</li>
				</ul>
			</div>
		</div>

		<br><br>

		<h3>Social Initiative</h3>
		<h5>AnalyseIndia</h5>
		It is a platform to engage people from all fields of study and use their expertise to address social problems and understand India's reality. Our aim is to encourage debate and spread factual and analytical knowledge by bringing together tools of scientific and social analysis.

		<br><br><br>
		
		<h3>Education</h3>
		<div class="row">
			<div class="col-md-4">
				<h5>Master of Technology <small>(pursuing)</small></h5>
				Department of Computational and Data Sciences<br>
				Indian Institute of Science, Bangalore
			</div>
			<div class="col-md-4">
				<h5>Bachelor of Technology</h5>
				Computer Science and Engineering<br>
				ITM University, Gurgaon
			</div>
			<div class="col-md-4">
				<h5>Senior High School</h5>
				Non-Medical w/ Computer Science<br>
				Blue Bells Model School, Gurgaon
			</div>
		</div>

		<br><br><br>
		
		<h3>Projects</h3>
		<h5>Emotion Analysis and Recognition based on Active Appearance Model</h5>
		It is a system to detect human emotions such as happiness, sadness, neutral and surprise, the project was developed as a major project during my Graduation at ITM University. The system trains an Active Appearance Model and uses Inverse Compositional Project Out Algorithm as image alignment algorithm.<br>
		Although challenging, the project taught me many aspects of working within a team on a research project. The project will be taken further by publishing an indian database of facial images created during the project and writing a research and review paper regarding the same.

		<br><br><br>

		<h3>Experiences</h3>
		<div class="row">
			<div class="col-md-6">
				<h5>Co-Founder,</h5>
				<h5>Qubit Technologies</h5>
				The venture was founded with an aim to provide quality web and mobile app services to its customers. As its co-founder my responsibilities are to form vibrant working culture within the organisation, manage Business Operations and head the Technical Team.
			</div>
			<div class="col-md-6">
				<h5>Intern, Innovate Delhi Entrepreneurship Academy</h5>
				My responsibilities was to learn and improve my skills in team building, innovation and strategy as an entrepreneur. I learned how to work on a business idea, validate it by user interviews and feedback mechanism, and develop a business plan to bring the idea to the real world.
			</div>
		</div>

		<br>
		
	</div>
</section>
